<h2 class="title">Flight (0)</h2>
<div class="dialog isProcess" id="members">
	<div class="tabs">
		<ul class="tabNav clearfix">
			<li id="overview-tab"><a>list (0)</a></li>
			<li id="details-tab"><a>edit (0)</a></li>
			<li id="info-tab"><a>info (0)</a></li>
		</ul>
		<!-- /tabNav -->

		<div class="panelContainer clearfix">
			<!-- # BO PANEL QUERY # -->

			<div id="overview" class="tabPanel isTask flex isFlex">
				<div class="tableWrapper">

					<table class="gridTable">
						<tr>
							<td class="col4"><label>date (0)</label><span
								class="datepicker_icon"></span>
								<div class="wrap icon">
									<input id="date" />
								</div></td>
							<td class="col4"></td>
							<td class="col4"></td>
							<td class="col4"></td>
						</tr>
					</table>

					<table class="gridTable">
						<tr>
							<td id="groupsTable" class="isTable"></td>
						</tr>
					</table>

				</div>
				<div class="tabfooter">
					<div class="inner">
						<div class="buttons" id="actions"></div>
						<!-- actions -->
						<div id="servicestatus"></div>
					</div>
				</div>
				<!-- /tabfooter -->
			</div>
			<!-- /tabPanel -->
			<!-- # EO PANEL QUERY # -->


			<div id="details" class="tabPanel isTask flex isFlex">
				<div class="tableWrapper">

					<table class="gridTable">
						<tr>
							<td class="col4"><label>name (0)</label>
								<div class="wrap">
									<input id="name" />
								</div></td>
							<td class="col4"><label>name (0)</label>
								<div class="wrap">
									<input id="referenceString" />
								</div></td>
							<td class="col4"><label>name (0)</label>
								<div class="wrap">
									<input id="balance" />
								</div></td>
							<td class="col4"></td>
						</tr>
					</table>

				</div>

				<!-- /tablewrapper -->
				<div class="tabfooter">
					<div class="inner">
						<div class="buttons" id="actions"></div>
						<!-- actions -->
						<div id="servicestatus"></div>
					</div>
				</div>
			</div>

			<div id="info" class="tabPanel isTask flex isFlex">
				<div class="tableWrapper">

					<table class="gridTable">
						<tr>
							<td class="col4"><label>name (0)</label>
								<div class="wrap">
									<input id="name" />
								</div></td>
							<td class="col4"><label>name (0)</label>
								<div class="wrap">
									<input id="referenceString" />
								</div></td>
							<td class="col4"><label>name (0)</label>
								<div class="wrap">
									<input id="balance" />
								</div></td>
							<td class="col4"></td>
						</tr>
					</table>

				</div>

				<!-- /tablewrapper -->
				<div class="tabfooter">
					<div class="inner">
						<div class="buttons" id="actions"></div>
						<!-- actions -->
						<div id="servicestatus"></div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- /panelContainer -->
	</div>
	<!-- /tabs -->
</div>
<!-- /dialog -->